<?xml version="1.0"?>
<launch>
	<arg name="hardware_config" default="$(find moverobotic_psas)/yaml/moverobotic_hardware_psas.yaml"/>
	<arg name="description_config" default="$(find moverobotic_psas)/urdf/psas_parcel.urdf.xacro"/>
	<arg name="rviz_config" default="$(find moverobotic_psas)/rviz/moverobotic_hardware_psas.rviz"/>
	<arg name="perspective_config" default="$(find moverobotic_psas)/perspective/moverobotic_hardware_psas.perspective"/>

	<rosparam command="load" file="$(arg hardware_config)" />

	<param name="robot_description" command="$(find xacro)/xacro --inorder '$(arg description_config)'"/>

	<node name="psas_robot_node" pkg="psas_robot" type="psas_robot" output="screen" respawn="true">
	</node>

	<node name="joy_node" pkg="joy" type="joy_node" respawn="true">
	</node>

	<node name="teleop_node" pkg="teleop_twist_joy" type="teleop_node" respawn="true">
		<remap from="cmd_vel" to="teleop/cmd_vel"/>
	</node>

	<node name="twist_mux_node" pkg="twist_mux" type="twist_mux" respawn="true">
		<remap from="cmd_vel_out" to="cmd_vel"/>
	</node>

	<node name="mrc01_node" pkg="moverobotic_hardware" type="mrc01" respawn="true" output="screen">
		<remap from="cmd_vel" to="steer_output"/>
		<remap from="ana_relative" to="steer_input"/>
		<remap from="odom" to="mrc01/odom"/>
		<remap from="target" to="mrc01/target"/>
	</node>

	<node name="mbl1330_node" pkg="mbl1330" type="mbl1330" output="screen" respawn="true">
		<remap from="measure" to="drive_input"/>
		<remap from="desire" to="drive_output"/>
	</node>

	<node name="rslidar_sdk_node" pkg="rslidar_sdk" type="rslidar_sdk_node" respawn="true" output="screen">
		<!-- <remap from="/rslidar_points" to="/rslidar/cloud" /> -->
	</node>

	<node name="rslidar_scan_node" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" respawn="true" output="screen">
		<remap from="cloud_in" to="/rslidar_points"/>
		<remap from="scan" to="/rslidar/scan"/>
	</node>

	<node name="lslidar_n301_driver_node" pkg="lslidar_n301_driver" type="lslidar_n301_driver_node" respawn="true" output="screen">
	</node>

	<node name="lslidar_n301_decoder_node" pkg="lslidar_n301_decoder" type="lslidar_n301_decoder_node" respawn="true" output="screen">
		<remap from="scan" to="lslidar/scan" />
		<remap from="/lslidar_point_cloud" to="/lslidar/cloud" />
	</node>

	<node name="lslidar_n301_pointcloud_node" pkg="ira_laser_tools" type="laserscan_multi_merger" respawn="true" output="screen" launch-prefix="bash -c 'sleep 2; $0 $@'">
	</node>

	<node name="scan_merge_node" pkg="ira_laser_tools" type="laserscan_multi_merger" respawn="true" output="screen" launch-prefix="bash -c 'sleep 2; $0 $@'">
	</node>

	<node name="scan_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
		<remap from="scan" to="scan_merge/scan" />
		<remap from="scan_filtered" to="scan_filter/scan" />
	</node>

	<node name="robot_state_publisher_node" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true">
	</node>

	<node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rviz_config)" >
	</node>

	<node name="rqt_gui" pkg="rqt_gui" type="rqt_gui" required="true" args="--perspective-file $(arg perspective_config)">
	</node>

	<!-- <arg name="odometry_config" default="$(find moverobotic_psas)/yaml/moverobotic_odometry_psas.yaml"/>
	<node name="odometry_node" pkg="robot_localization" type="ekf_localization_node" respawn="true">
		<rosparam file="$(arg odometry_config)" command="load" />
		<remap from="set_pose" to="initialpose/ekf"/>
	</node> -->
	
</launch>