<?xml version="1.0"?>
<launch>
	<arg name="hardware_config" default="$(find uvbot_psas)/yaml/uvbot_hardware.yaml"/>
	<arg name="rviz_config" default="$(find uvbot_psas)/rviz/uvbot_mapping.rviz"/>

	<rosparam command="load" file="$(arg hardware_config)" />

	<node name="twist_mux_node" pkg="twist_mux" type="twist_mux" respawn="true">
		<remap from="cmd_vel_out" to="cmd_vel"/>
	</node>

	<node name="rviz" pkg="rviz" type="rviz" required="true" args="-d $(arg rviz_config)" >
	</node>

	
	<!--<node name="scan_filter" pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen">
		<remap from="scan" to="scan_merge/scan" />-->
		<!--<remap from="scan_filtered" to="scan_filter/scan" />-->

</launch>